.above-main-container-outlet.welcome-link-banner-connectors .welcome-link-banner-wrapper {
  margin: 0 0 var(--space-m) 0;
  .welcome-wrapper{
    margin:0 auto;
    .welcome-content{ 
      h2{
        font-size: var(--font-up-5);
      }
      p{
        margin-top:0;
      }
    } 
    .featured-banner-link{
      background:none;
    }
  }
}
  img.avatar {
    max-width: 36px;
    max-height: 36px;
  }
.topic-post article {
  border-top: 4px solid var(--secondary-low);
  .topic-body,.topic-avatar{
  border-top:none;
  }
}
.user-main .about.has-background .user-profile-image {
    height: 80px;
    opacity: 0;
}
.discourse-signup-banner {
  .discourse-signup-banner-content,.discourse-signup-banner-cta {
    width:100%;
    margin-right:0;
  }
}

/* Topics on mobile - marche pas 
.categories-and-latest {
    display: block;
}
.latest-topic-list{
    display: block;
    visibility:visible;
    .latest-topic-list-item.category-discussions{
      display: block;
    }
  }
*/
