
:root{
  --d-sidebar-link-color: var(--primary);
  --d-sidebar-link-icon-color: var(--primary);
  --d-sidebar-highlight-background:var(--secondary-low);
  --radius-l: 0.5rem;
  --radius-m: 0.313rem;
  --radius-s: 0.25rem;
  --line-m: 0.125rem;
  --space-l: 3.75rem;
  --space-m: 1.625rem;
  --shadow-card: none;
  --line-s: 0.125rem;
}

/* Héritages étendus */
%blocshine{
  background:var(--primary);
  border-radius: var(--radius-l);
  color:var(--secondary-darker);
  box-shadow: var(--shadow-card);
  &:hover{
    background: var(--highlight);
  }
}
%blocsoft{
  background:var(--secondary-low);
  border-radius: var(--radius-l);
}

/* Général */
body{
  font-size:1rem;
}
.btn{
  background:var(--secondary);
  color:var(--highlight);
}
.badge-category__wrapper .badge-category:before{
  border-radius:0.25rem
}
.sidebar-section-link-wrapper .sidebar-section-link-prefix .prefix-span {
  border-radius:0.313rem
}
.d-header{
  box-shadow:none;
  border-bottom:var(--line-m) solid var(--primary-low)
}
.header-sidebar-toggle button .d-icon {
  color: var(--primary);
}
img.avatar {
  border: var(--radius-s) solid var(--primary);
  background:var(--primary);
}
.sidebar-wrapper .sidebar-container {
  border-right:none;
}
.wrap.welcome-link-banner{
  padding:0;
}

.above-main-container-outlet.welcome-link-banner-connectors .welcome-link-banner-wrapper{
  margin:0 0 var(--space-l) 0;
  @extend %blocsoft;
  .welcome-wrapper{
    background:inherit;
    margin:0;
  }
}
/* Blocs Accueil / version link */
.custom-category-boxes:not(.above-discovery-categories-outlet) {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap:var(--space-m);
  .category-box {
    @extend %blocshine;
    border: 0.313rem solid var(--primary);
    .category-box-inner {
      gap:1.5rem;
      .category-box-heading h3{
        color:var(--secondary-high);
        &:before{
          content:'💬';
          display:block;
          font-size:3rem;
        }
      }
      .description p{
          color:var(--secondary-high);
      }
      .category-logo.no-logo-present{
        width:1.5rem;
        .category-abbreviation {
          display:none;
        }
      }
    }    
  }
}

/* SAVE - Blocs Accueil / version table */
.categories-and-latest{
  display:block;
  .column.categories {
    display: block;
    .category-list{
      margin-bottom:var(--space-l);
      tbody{
        display:grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        align-items: stretch;
        gap:var(--space-m);
        tr{
          max-height: 9rem;
          @extend %blocshine;
          .category > h3 a[href]{
            color:var(--secondary-high);
          }
          .category-description{
            color:var(--secondary-darker);
          }
        }
      }
    }
  }
}



.list-controls .combo-box .combo-box-header {
    background: var(--primary);
    border: 1px solid var(--primary);
    border-radius:var(--radius-l);
    &:hover{
      background: var(--highlight);
    }
  .selected-name{
    color: var(--secondary-high);
  }
}

/* Topics */
.latest-topic-list-item {
    border-bottom: var(--line-s) solid var(--secondary-low);
}
