:root{
    /* Fix */
    --font-family:'PPTelegraf-Regular';
    --font-ultra:'PPTelegraf-Ultrabold';
    --heading-font-family:var(--font-ultra);
    --d-sidebar-link-color: var(--primary);
    --d-sidebar-link-icon-color: var(--primary);
    --d-sidebar-highlight-background:var(--secondary-low);
    --d-input-text-color:var(--primary);
    --d-input-bg-color:var(--secondary);
    --d-input-border:var(--w1) solid var(--primary);
    --d-input-border-radius:var(--w4);
    /* Sizes */
    --w0: 0rem; /* 0px */
    --w1: 0.125rem; /* 2px */
    --w2: 0.25rem; /* 4px */
    --w3: 0.375rem; /* 6px */
    --w4: 0.5rem; /* 8px */
    --w5: 0.625rem; /* 10px */
    --w6: 0.75rem; /* 12px */
    --w7: 0.875rem; /* 14px */
    --w8: 1.25rem; /* 20px */
    --w9: 1.5rem; /* 24px */
    --w10: 1.625rem; /* 26px */
    --w11: 2rem; /* 32px */
    --w12: 3.75rem; /* 60px */
    
    /* Tools */
    --radius-s: var(--w2);
    --radius-m: var(--w3);
    --radius-l: var(--w4);
    --line-s: var(--w1);
    --line-m: var(--w2);
    --space-m: var(--w10);
    --space-l: var(--w12);
    --shadow-card: none;
    --t-contraste: #1B1326;
  }
  
  /* Héritages étendus */
  %ultra{
    font-family:var(--font-ultra);
    color:var(--primary);
    font-weight: 800;
  }
  %blocshine{
    background:var(--primary);
    border-radius: var(--radius-l);
    color:var(--secondary-darker);
    box-shadow: var(--shadow-card);
    &:hover{
      background: var(--highlight);
    }
  }
  %blocsoft{
    background:var(--secondary-low);
    border-radius: var(--radius-l);
  }
  %border-bs{
    border-bottom:/*var(--line-s)*/4px solid var(--secondary-low)
  }
  %imago{
    background-size: contain;
    background-repeat:no-repeat;
    background-position:center center;
  }
  %btviolet{
    background-color: var(--tertiary);
    color: var(--highlight);
    border: 1px solid var(--tertiary);
    border-radius:var(--w2);
    .d-icon {
        color: var(--highlight);
    }
    &:hover{
      background-color: var(--tertiary-low);
      color: var(--highlight);
      .d-icon {
        color: var(--highlight);
      }
    }
  }
  %btblanc{
    background-color: var(--primary);
    color: var(--secondary-high);
    border: 1px solid var(--primary);
    border-radius:var(--w2);
  }

  
  /* Général */
  @font-face {
    font-family: PPTelegraf-Regular;
    src: url($PPTelegraf-Regular) format('woff2');
  }
  @font-face {
    font-family: PPTelegraf-Ultrabold;
    src: url($PPTelegraf-Ultrabold) format('woff2');
  }
  
  body {
    font-family: var(--font-family);
    font-size: 16px;
  } 
  h1,h2,h3,h4,h5,h6{
    font-family: var(--font-ultra);
  }
  
  .btn{
    border-radius:var(--w2);
  }
  .btn-large{
    border-radius:var(--w4);
  }

  .badge-category__wrapper .badge-category:before{
    border-radius:0.25rem
  }
  /*
  .sidebar-section-link-wrapper .sidebar-section-link-prefix .prefix-span {
    border-radius:0.313rem
  }
  */
  .sidebar-section-link-wrapper .sidebar-section-link.active {
    border-radius:var(--w3);	
  }
  .d-header{
    box-shadow:none;
    @extend %border-bs;
    .contents{
      .header-sidebar-toggle button .d-icon {
        color: var(--primary);
      }
      .title{
        /*logo*/
      }
      .panel{
        .header-buttons{
          .btn-primary.sign-up-button{
            @extend %btblanc;
          }
          .btn-primary.login-button{
            @extend %btviolet;
          }
        }
      }
    }
  }

  img.avatar {
    border: var(--radius-s) solid var(--primary);
    background:var(--primary);
  }
  .sidebar-wrapper .sidebar-container {
    border-right:none;
  }
  .wrap.welcome-link-banner{
    padding:0;
  }
  .header-sidebar-toggle button {
      margin-right: 0.5rem;
  }
  .sidebar-section-link-wrapper .sidebar-section-link-prefix .prefix-span{
    border-radius:var(--radius-s);
  }
  .sidebar-section-link-wrapper {
    padding-right: var(--w11);
  }
  .discourse-no-touch .d-header-icons .icon:hover, .discourse-no-touch .d-header-icons .icon:focus{
    background-color: var(--secondary-low);
  }
  
  
  /* Bannière accueil */
  .above-main-container-outlet.welcome-link-banner-connectors .welcome-link-banner-wrapper{
    margin:0 0 var(--space-l) 0;
    @extend %blocsoft;
    .welcome-wrapper{
      background:inherit;
      margin:0;
      .welcome-content{
        max-width:700px;
        h2{
          font-size:var(--font-up-6);
          position:relative;
          &:after{
            content:'';
            margin-top:-2.5rem;
            width:3rem;height:3rem;
            top:0;
            position:absolute;
            background-image: url($etoiles);
            @extend %imago;
          }
        }
        p{
          font-size:var(--font-up-1);
          max-width:500px;
        }
      }
      .featured-banner-link{
        padding-top: var(--w5);
        max-width:300px;
        background-image: url($wahou);
        @extend %imago;
      }
    }
  }
  /* Blocs Accueil / version link */
  .custom-category-boxes:not(.above-discovery-categories-outlet) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap:var(--space-m);
    .category-box {
      @extend %blocshine;
      border: var(--w3) solid var(--primary);
      .category-box-inner {
        gap:var(--w7);
        .category-details{
          padding:var(--w7);
          .category-box-heading {
            &:before{
              content:'🔒';
              display:block;
              font-size:2rem;
            }
            h3{
            color:var(--secondary-high);
            }
          }
        }
        .description p{
          color:var(--t-contraste);
          max-width:500px;
        }
        .category-logo.no-logo-present{
          width: calc(var(--w9) - var(--w3));
          .category-abbreviation {
            display:none;
          }
        }
      }    
    }
  }
  .custom-category-boxes:not(.above-discovery-categories-outlet) .category-box:nth-child(1) {
    .category-box-inner {
      .category-details{
        .category-box-heading {
          &:before{
          content:'💬';
          }
        }
      }
    }
  }
  .custom-category-boxes:not(.above-discovery-categories-outlet) .category-box:nth-child(2) {
    .category-box-inner {
      .category-details{
        .category-box-heading {
          &:before{
          content:'👀';
          }
        }
      }
    }
  }
  .custom-category-boxes:not(.above-discovery-categories-outlet) .category-box:nth-child(3) {
    .category-box-inner {
      .category-details{
        .category-box-heading {
          &:before{
          content:'🎙️';
          }
        }
      }
    }
  }
  .custom-category-boxes:not(.above-discovery-categories-outlet) .category-box:nth-child(4) {
    .category-box-inner {
      .category-details{
        .category-box-heading {
          &:before{
          content:'📚';
          }
        }
      }
    }
  }
  .custom-category-boxes:not(.above-discovery-categories-outlet) .category-box:nth-child(5) {
    .category-box-inner {
      .category-details{
        .category-box-heading {
          &:before{
          content:'🔒';
          }
        }
      }
    }
  }
  
  
  /* SAVE - Blocs Accueil / version table */
  .categories-and-latest{
    display:block;
    .column.categories {
      display: block;
      .category-list{
        margin-bottom:var(--space-l);
        tbody{
          display:grid;
          grid-template-columns: repeat(3, minmax(0, 1fr));
          align-items: stretch;
          gap:var(--space-m);
          tr{
            max-height: 9rem;
            @extend %blocshine;
            .category > h3 a[href]{
              color:var(--secondary-high);
            }
            .category-description{
              color:var(--t-contraste);
            }
          }
        }
      }
    }
  }
  
  
  /* Selectbox */
  .list-controls .combo-box .combo-box-header {
      background: var(--primary);
      border: 1px solid var(--primary);
      border-radius:var(--radius-l);
      &:hover{
        background: var(--highlight);
      }
    .selected-name{
      color: var(--secondary-high);
    }
  }
  
  /* Container Topics */
  .navigation-categories .list-container .full-width #list-area .contents .column {
    margin-top : calc(var(--space-l) - var(--w6));
  }
  /* Topics */
  
  .latest-topic-list {
    .table-heading{
      font-size:var(--font-up-4);
      @extend %ultra;
      @extend %border-bs;
    }
    .latest-topic-list-item{
      padding: var(--w8) 1em;
      @extend %border-bs;
      .main-link .top-row {
        font-size: var(--font-0);
      }
      a.title{
        @extend %ultra;
      }
      .topic-stats {
        color:inherit;
        .posts-map{
          @extend %ultra;
          font-size: var(--font-0);
          &:hover{
            color: var(--tertiary);
          }
        }
        .topic-last-activity a{
          color:var(--primary)
        }
      }
    }
  }
 
  .latest-topic-list-item.visited {
      color:var(--primary-medium);
      .topic-stats {
        color:var(--primary-medium);
        .posts-map{
          color:var(--primary-medium);
        }
        .topic-last-activity a{
          color:var(--primary-medium);
        }
      }
  }
  
  
  /* Fix home filters & sidebar */
  .navigation-categories.categories-list .navigation-container .nav-pills>li a.active {
    padding:0;
    background:transparent;
    font-size:var(--font-up-4);
    @extend %ultra;
  }
  .navigation-categories .list-container, .categories-list .list-container {
      padding-top: calc(var(--space-m) - var(--w6));
  }
  .navigation-categories.categories-list .navigation-container > ol.category-breadcrumb.ember-view,
  .navigation-categories.categories-list .navigation-container .nav-item_latest.latest.ember-view{
    display:none;
  }
  .navigation-categories .navigation-container, .categories-list .navigation-container {
      border-bottom: none;
  }
  .navigation-categories.categories-list .navigation-container > #navigation-bar {
    margin-right:var(--w8);
  }
  .sidebar-section-link-wrapper:nth-child(2) {
    display:none;
  }
  
  /**/
  
  .navigation-container {
      // Category + Tag Drop Down
    .select-kit.combo-box {
      .select-kit-header {
        border-radius: .9em;
        background-color: var(--header_background);
      }
  
      &.category-drop,
      &.tag-drop {
        .select-kit-body {
          border-radius: .9em;
          background-color: var(--header_background);
    
          .select-kit-collection {
            background-color: var(--header_background);
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
          }
  
          .select-kit-filter {
            border-top: 0px;
          }
        }
      }
    }
  }
  .btn-default {
    background-color: var(--tertiary);
    color: var(--highlight);
    border-radius: var(--w4);
    border: 1px solid var(--tertiary);
    @extend %ultra;
    .d-icon {
      color: var(--highlight);
    }
  
    &:hover {
      background-color: var(--tertiary-low);
      color: var(--highlight);
      .d-icon {
        color: var(--highlight);
      }
    }
  
    &.btn-default,
    &.btn-primary {
      padding: 10px 12px;
    }
  }
  .discourse-no-touch .btn-default:hover{
    background-color: var(--tertiary-low);
    color: var(--highlight);
  }
  .discourse-no-touch .btn:hover .d-icon{
    color: var(--highlight);
  }
  .d-header-mode .bootstrap-mode {
      font-family:var(--font-family);
      background-color: var(--primary);
      color: var(--t-contraste);
      border: 1px solid var(--primary);
      border-radius:var(--w2);
      margin-left: 1em;
      padding: 0.15em 0.5em;
      &:hover {
      background-color: var(--highlight);
      color: var(--t-contraste);
    }
  }

  /* Modal */
  .d-modal__backdrop {
    background:var(--secondary-low);
    animation: none/*fade .3s forwards;*/;
    filter: none;
    opacity: 0.97;
  }
  .d-modal__container{
    box-shadow:none;
    border-radius:var(--w9);
    border:var(--w4) solid var(--secondary-high);
    .d-modal__header .btn{
    
    }
    .d-modal__body{
      .login-left-side{

      }
      .login-right-side{
        width:50%;
        background:var(--secondary-high);
      }
    }
  }
  .modal.d-modal.create-account{
    .btn-primary{
      @extend %btblanc;
      border-radius:var(--w4);
      position:relative;
      &:before{
        content:'';
        margin-top:-1rem;margin-left:-1rem;
        width:1.5rem;height:1.5rem;
        top:0;left:0;
        position:absolute;
        background-image: url($etoiles);
        @extend %imago;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
      }
    }
  }
  .modal.d-modal.login-modal{
    .d-modal__container{
      .login-left-side{
        width:75%;
      }
    }
  }

  /* Inputs */
  .login-modal #login-form .input-group label.alt-placeholder, .login-modal #login-form .input-group .user-field.text label.control-label, .login-modal #login-form .input-group .user-field.dropdown label.control-label, .login-modal #login-form .input-group .user-field.multiselect label.control-label, .login-modal .login-form .input-group label.alt-placeholder, .login-modal .login-form .input-group .user-field.text label.control-label, .login-modal .login-form .input-group .user-field.dropdown label.control-label, .login-modal .login-form .input-group .user-field.multiselect label.control-label, .login-modal .invite-form .input-group label.alt-placeholder, .login-modal .invite-form .input-group .user-field.text label.control-label, .login-modal .invite-form .input-group .user-field.dropdown label.control-label, .login-modal .invite-form .input-group .user-field.multiselect label.control-label, .create-account #login-form .input-group label.alt-placeholder, .create-account #login-form .input-group .user-field.text label.control-label, .create-account #login-form .input-group .user-field.dropdown label.control-label, .create-account #login-form .input-group .user-field.multiselect label.control-label, .create-account .login-form .input-group label.alt-placeholder, .create-account .login-form .input-group .user-field.text label.control-label, .create-account .login-form .input-group .user-field.dropdown label.control-label, .create-account .login-form .input-group .user-field.multiselect label.control-label, .create-account .invite-form .input-group label.alt-placeholder, .create-account .invite-form .input-group .user-field.text label.control-label, .create-account .invite-form .input-group .user-field.dropdown label.control-label, .create-account .invite-form .input-group .user-field.multiselect label.control-label, .invites-show #login-form .input-group label.alt-placeholder, .invites-show #login-form .input-group .user-field.text label.control-label, .invites-show #login-form .input-group .user-field.dropdown label.control-label, .invites-show #login-form .input-group .user-field.multiselect label.control-label, .invites-show .login-form .input-group label.alt-placeholder, .invites-show .login-form .input-group .user-field.text label.control-label, .invites-show .login-form .input-group .user-field.dropdown label.control-label, .invites-show .login-form .input-group .user-field.multiselect label.control-label, .invites-show .invite-form .input-group label.alt-placeholder, .invites-show .invite-form .input-group .user-field.text label.control-label, .invites-show .invite-form .input-group .user-field.dropdown label.control-label, .invites-show .invite-form .input-group .user-field.multiselect label.control-label {
    color:var(--primary)
  }
  .select-kit.multi-select .multi-select-header{
    border-color: var(--primary);
  }
  

/* Popover */
.custom-gated-topic-container{
  background:var(--secondary-low);
  .custom-gated-topic-content{
    .custom-gated-topic-content--header{
      @extend %ultra;
    }
    .custom-gated-topic-content--text{

    }
    .custom-gated-topic-content--cta{
      .custom-gated-topic-content--cta__signup{
        @extend %btblanc;
      }
      .custom-gated-topic-content--cta__login{

      }
    }
  }
}

  /* Footer */
  .custom-footer {
    position:relative;
    background: var(--secondary-low);
    border-top: var(--w3) solid var(--secondary-low);
    &:before{
      content:'';
      position:absolute;
      top:0;left:0;right:0;
      width:100%;height:5px;
      margin-top:-3px; 
      background:var(--secondary);
    }
    .flexbox {
      color:var(--primary);
      .blurb, .links, .footer-section-link, .d-icon{
        color:var(--primary);
      }
    }
  }
  .custom-footer .third-box .social .social-link .d-icon {
    color:var(--primary);
  }
  
